{% extends 'student/base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">SL</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col"></th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

        {% for student in students %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{student.name}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.email}}</td>
        <td>{{student.department}}</td>
        <td><a href="{% url 'student_edit' student.id %}" class="btn btn-primary">Edit</a></td>
        <td><a href="{% url 'student_del' student.id %}" class="btn btn-danger">Delete</a></td>
      </tr>
      {% endfor %}


    </tbody>
  </table>
{% endblock content %}